/*===============common css==================*/
/*自定义字体图标*/
/*1. 需要图标 svg格式   UI帮忙 */
/*2. 使用svg图标生成 字体文件 */
/*3. 使用iconmoon在线工具生成了 字体文件*/
/*4. 定义自定义字体图标*/
@font-face {
    font-family: itheima38;
    src:  url('../fonts/MiFie-Web-Font.eot?m4jp50');
    src:  url('../fonts/MiFie-Web-Font.eot?m4jp50#iefix') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.ttf?m4jp50') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff?m4jp50') format('woff'),
    url('../fonts/MiFie-Web-Font.svg?m4jp50#icomoon') format('svg');
}
/*5. 定义一个类 这个类选择使用该字体*/
.wjs_icon{
    font-family: itheima38;
}
/*6. 定义语义化的类名代表不同的图标*/
.wjs_icon_phone::before{
    content: "\e908";
}
.wjs_icon_tel::before{
    content: "\e909";
}
.wjs_icon_logo::before{
    content: "\e920";
}
.wjs_icon_name::before{
    content: "\e93e";
}
.wjs_icon_dollar::before{
    content: "\e903";
}
.wjs_icon_clock::before{
    content: "\e906";
}
.wjs_icon_video::before{
    content: "\e905";
}

/*===============model css==================*/
.wjs_topBar{
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    color: #666;
}
.wjs_topBar a{
    color: #666;
}
.wjs_topBar a:hover{
    color: #666;
    text-decoration: none;
}
/*.wjs_topBar > .container > .row > div{
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid #ccc;
}
.wjs_topBar > .container > .row > div:first-child{
    border-left: none;
}*/
/* + ~ 选择器 */
.wjs_topBar > .container > .row > div{
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.wjs_topBar > .container > .row > div + div{
    border-left: 1px solid #ccc;
}

.wjs_topBar .btn-register{
    background: #e92322;
    color: #fff;
    padding: 3px 12px;
    font-size: 12px;
    border-color: #e92322;
}
.wjs_topBar .btn-register:hover{
    color: #fff;
}
.wjs_topBar .btn-login{
    font-size: 12px;
}

.wjs_app{
    display: block;
}

.wjs_app img{
    display: none;
}
.wjs_app:hover img{
    display: block;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left:-60px;
    border: 1px solid #ccc;
    border-top:none;
    z-index: 9999;
}

/*导航栏样式*/
/* bootstrap 样式是以模块为单位 */
/* 把源码当中的模块样式完整拷贝当前css文件 */
/* 当前css文件的引入是在bootstrap之后 样式完整覆盖 */
/* 针对当前使用这个模块的内容 做限制 更改模块前缀*/
/* 优点：不需要找选择器  重心在修改样式*/
/* 缺点：代码会有冗余 （删除 减少体积 ，保留 利于维护）*/
.wjs_nav {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom:0;
}
.wjs_nav .wjs_icon_logo{
    color: #e92322;
    font-size: 50px;
    vertical-align: middle;
}
.wjs_nav .wjs_icon_name{
    color: #333;
    font-size: 36px;
    vertical-align: middle;
}
.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_nav .navbar-text {
    color: #777;
}
.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.wjs_nav .navbar-link {
    color: #777;
}
.wjs_nav .navbar-link:hover {
    color: #333;
}
.wjs_nav .btn-link {
    color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}

/*轮播图*/
.wjs_banner .img_m{
    width: 100%;
    display: block;
}
.wjs_banner .img_m img{
    width: 100%;
    display: block;
}
.wjs_banner .img_pc{
    background: no-repeat center / cover;
    height: 410px;
    display: block;
}


/*信息区域*/
.wjs_info{
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
/*只能生效在中屏大屏*/
@media (min-width: 992px) {
    .wjs_info .container{
        width: 900px;
    }
}

.wjs_info .media{
    color: #333;
    padding-top: 15px;
    display: block;
}
.wjs_info .media:hover{
    color: #e92322;
    text-decoration: none;
}
.wjs_info .media .wjs_icon_dollar{
    font-size: 30px;
}

/*预约模块*/
.wjs_book{
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
@media (min-width: 992px) {
    .wjs_book .container{
        width: 900px;
    }
}

.wjs_book .wjs_icon_clock{
    font-size: 20px;
}
.wjs_book .wjs_icon_video{
    font-size: 24px;
}
.wjs_book .book{
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}
.wjs_book .video{
    color: #333;
}
.wjs_book .video:hover{
    color: #e92322;
    text-decoration: none;
}